@keyframes moveDecorative_2 {
  0% {
   right: -70px;
   top: 300px ;
   transform:  scale(0.8)
  }
  50% {
    right:  70px;
    top:500px ;
    transform: scale(1.2)
  }
  100% {
    right: -70px;
    top:300px ;    
    transform: scale(0.8)
  }
}
@keyframes moveDecorative_1 {
  0% {
   left: -10px;
   top: 100px ;
   transform:  scale(0.8)
  }
  25% {
    left: 150px;
    top: 200px ;
    transform: scale(1) 
  }
  50% {
    left:-50px;
    top: 400px ;
    transform: scale(1.5) 
  }
  75% {
    left: -30px;
    top:100px ;
    transform:  scale(0.8)
  }
  100% {
  left: -10px;
  top: 100px ;
  transform:  scale(0.8)
   
  }
}
.bgAnime{
  position: relative;
  opacity: 1;
}
.anime.bgAnime::after{
  height: 100%;
}
.bgAnime::after{
  transition: 2s;
  position: absolute;
  content: '';
  left: -4px;
  bottom:  -3px;
  width: 100%;
  height: 5%;
  background-color: var(--principal_1);
  z-index: -1;
  padding: .3rem;  
}
 .fadeInDown {
  transform: translate3d(0, -80px, 0);
}
 .fadeInUp {
  transform: translate3d(0, 80px, 0);
}
 .fadeInRight {
  transform: translate3d(80px, 0, 0);
}
 .fadeInLeft {
  transform: translate3d(-80px, 0, 0);
}
 [data-anime] {
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s;
}
[data-scroll="scroll"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(-60px, 0, 0);
}
[data-scroll="zoom"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 0, 0);
  scale: .6;
}
[data-scroll="toRight"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(-60px, 0, 0);
}
[data-scroll="toLeft"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(60px, 0, 0);
}
[data-scroll="toUp"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, 60px, 0);
}
[data-scroll="toDown"] {
  opacity: 0;
  transition: 0.5s;
  transform: translate3d(0, -60px, 0);
}
.anime, [data-scroll="zoom"].ativo, [data-scroll="toDown"].ativo, [data-scroll="toRight"].ativo, [data-scroll="toLeft"].ativo, [data-scroll="toUp"].ativo{
  scale: 1;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
