*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a, button{
  -webkit-tap-highlight-color: transparent;
}
.status{
  display:none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: #a97e2f solid 2px;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 10%;
  color: #544523;
}
.statusW{
  top:0;
  right: 0;
}
.statusW{
  top:20px;
  right: 0;
}
body {
  background-color: black; 
}
:root {
  --principal_1: #a97e2f;
  --principal_2: #544523;
  --background_1: #1e201d;
  --background_2: #f7f7f8;
  --cinza_medio: #aba8a2;
  --preto: #0b0906;
}
img {
  display: block; 
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-size: 3.3rem;
  color: white;
  line-height: .875;
  display: inline-block;
  margin-bottom: 0.3rem;
  z-index: 1;
}
.title::before {
  content: '';
  display: block;
  position: absolute;
  width: 77px;
  height: 67px;
  z-index: -1;
  left: -30px;
  top: 30px;
  opacity: 50%;
}
.conteiner{ 
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
    
}
.section {
  padding: 1rem 3rem;
  justify-content: center;
  max-width: 100%;
  height: auto;
  padding-top: 4rem;
  z-index: -2;
  align-items: center;
  padding-bottom: 5rem;
  
}
/* _____________________________________________________________ */

.projectLinkBx:hover .projectLink {
  color: #544523;
}
.projectLinkBx:hover {
  background-color: #a97e2f; 
}
.btnConteiner li:last-child{
  border-left: #a97e2f 3px solid;
}
.projectLink{
  cursor: pointer;
  color: #a97e2f;

}
.projectLinkBx{
  display: flex;  
  transition: .4s;
  padding: .7rem;
  margin: 0;
  justify-content: center;
  text-align: center;
  align-items: center; 
}
.btnConteiner{
  transition: .4s;
  overflow: hidden;
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: center;
  align-content: center;
  width: 300px;
  padding: .2rem 1rem;
  border: 2px solid #a97e2f;
  border-radius: 25px 25px;
  /* position: relative; */
  height: 2rem;  
}
/* ------------------------------------------------------ */
@media(max-width:600px){
  .title {
    font-size: 2.7rem;
    color: white;
    line-height: .875;
    display: inline-block;
    margin-bottom: 0.3rem;
    z-index: 1;
  }    
  .abilitySection .subTitle{
    font-size: .75rem;
  }
}
@media(max-width:450px){
  .title {
    font-size: 2.4rem;    
    margin-bottom: 0.3rem;
  }  
  .abilitySection .subTitle{
    font-size: .7rem;
  }
  .section {
    padding: 1rem;
  }  
}
@media(max-width:370px){
  .btnConteiner{    
    grid-template-columns: 120px 120px;    
    width:240px;    
  }
  .btnConteiner a{
    font-size: .9rem;
  } 
}