.certifiedLogoImgBx svg{
  fill: var(--principal_1);
}
.abilitySection>h1{
  color: var(--preto);
}
.abilitySection{
  background-color: #f7f7f8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  /* align-items: center; */
  
  overflow: hidden;
}
.abilitySectionBx{
  position: relative;
  max-width: 1000px;
  display: grid;
  padding: 5rem 1rem;
  align-items: center;
  align-self: center;
  justify-items: center;
  /* margin: 4rem 0; */
}
.abilityContent_Icons{
  display: grid;  
  grid-template-columns: repeat(4 , 1fr);
  grid-area: 1/1;
  padding: 1rem ;
  height: 100%;
  max-width: 100%;  
  gap:4rem;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
.abilityContent_Certified{
  display: grid;
  grid-template-columns:1fr 1fr;
  padding:1rem ;
  grid-area: 1/1;
  gap: .5rem;
  width: 100%;  
  max-height: 100%;  
  align-items: center;
  justify-content: center; 
}
.logos{
object-fit: contain;
max-width:120px;
width: 100%;
height: auto;
cursor: pointer;
transform: scale(0.3);
transition: 0.4s;
opacity: 0;
visibility: hidden;
}
.logos.active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.logos.target{
  transform: scale(1.8);
  opacity: 0;
  visibility: hidden;
}
.certifiedLogoImgBx{
  display: flex;
  align-items: center;  
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}
.certifiedLogoImg{
  width: 100%;
  height:100%;
}
.certifiedDocument,
.certifiedLogo {
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.certifiedLogo{  
  width:100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  border: #A97E2F solid 4px;
  border-radius: 8px;
  height: 100%;
}
.certifiedDocument:hover .certifiedDocumentContentTop{
  height: 30%;
}
.certifiedDocument:hover .tech{
  color: #f7f7f8;
  scale: 0.8;
  top: 10%;
}
.certifiedDocument:hover .slideY{
  opacity: 1;
  top: 30%;
}
.certifiedDocument:hover .certifiedDocumentContentDetails{
  height: 70%;
}

.certifiedDocument:hover .contentBx{
 left:0;
 opacity: 1;
}
.certifiedDocument:hover .imgbx{
 left:-20px;
}
.certifiedDocument{  
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  gap: .5rem;
  transition: .4s;
}
.imgbx{
  position: relative;
  width: 100%;
  height: 100%;
  left: calc( 50% - 50px);
  transition: .4s;
}

.imgbx img{
  width: 120px;
  height: 100%;
  object-fit: fill;
}
.certifiedDocumentContentTop{
  display: flex;
  position: relative;
  background-color: #A97E2F;
  height:45%;
  border-radius: 8px;
  padding: .5rem;
  transition: .4s;
  align-items: center;
  overflow: hidden;
  gap:2rem;
}
.contentBx h2{  
  color: #fff;
  font-size: 1.5rem;  
}
.contentBx h2:last-child{
  color: #aba8a2;
}
.contentBx{
  position: relative;
  display: none;
  left: 50%;
  opacity: 0;
  transition: .4s;
}

.certifiedDocument {
  transform: translateX(200px);
}

.certifiedLogo {
  transform: translateX(-200px);
}
.certifiedDocumentContentDetails {
  position: relative;
  overflow: hidden;
  transition: .4s;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--background_1);  
  padding: 1rem;
  align-items: center;
  height: 55%;
}
/* ----------------------------------------------------- */
.horas::before {
  content: 'horas:';
  color: var(--principal_1);
  position: absolute;
  display: inline-block;
  font-size: 1.2rem;
  bottom:-8px;
  right: 0;
}
.horas::after {
  position: absolute;
  content: 'carga horária:';
  color: #aba8a2;
  display: inline-block;
  font-size: .8rem;
  top:-8px;  
  right: 0;
}
.horas {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  line-height: .825;
  font-size: 6rem;
  margin: .3rem;
  justify-self: center;
  color: #f7f7f8;
}
.certifiedLogo::before {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #f7f7f8;
  position: absolute;
  top: 18px;
  left: -30px;
}
.slideY{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  width: 100%;
  justify-items: right;
  top: 150px;
  opacity: 0;
  transition: .4s;
}
.slideY ul{
  justify-self: center;
}
.slideY li span::before{
content: '';
height: 20px;
width: 8px;
background-color: #A97E2F;
display: inline-block;
}
.slideY li{  
  position: relative;
  color: #aba8a2;
}
.slideY li span{
  display: flex;
  gap: 4px;
  align-items: center;
  color: #f7f7f8;
}
.slideY a{
  grid-column: 1/-1;
  justify-self: center;   
  display:inline-block;
  cursor: pointer;
  padding: 0 2rem;
  margin-top: .7rem;
  border: 2px solid #a97e2f;
  border-radius: 25px 25px;
  color: #a97e2f;
  text-align: center;  
}
.tech{
  transition: .4s;
  position: absolute;
  font-size: 2rem;
  line-height: .825;
  top: 30%;
  scale: 1.6;
}


.certifiedLogo.active,
.certifiedDocument.active {
  transform: initial;
  opacity: 1;
  visibility: visible;
}
.voltarBtn {
  position: absolute;
  cursor: pointer;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  background: url("../img/arrow.svg") center center no-repeat;
  animation: moveArrow.6s ease-in-out infinite;
  left: -30px;
  top:23px;
}
@keyframes moveArrow {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(8px) rotate(0);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes moveArrowUp {
  0% {
    transform: translateY(0) rotate(90deg);
  }

  50% {
    transform: translateY(8px) rotate(90deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}


 @media(max-width:930px){
  .horas::before {    
    font-size: 1rem;    
  }
  .horas::after {    
    font-size: .6rem;   
  }
  .horas {    
    font-size: 5rem;   
  }  
  .certifiedDocumentContentDetails{
    padding: .3rem;
  }
  .certifiedDocument:hover .tech{   
    top: 1.2rem;
  }
  .certifiedDocument:hover .slideY{
    top: 25%;
  }  
  .contentBx h2{
    font-size: 1.3rem;   
  }
  .abilityContent_Certified{
    padding: 1rem;
  }  
  .abilityContent_Icons{
    padding: 3rem 3rem;
  }
  .tech{
    font-size: 1.8rem;
  }
  .logos{
      width:100px;
    }
  .certifiedLogoImgBx{
    padding: .5rem;
  }
  .voltarBtn{
    left: -35px;
  }    
}
@media(max-width:800px){
  .abilityContent_Icons{
    max-width: 100%;
    width: 100%;
    padding: 1rem ;
    justify-content: space-between;
    align-content: space-between;
    gap: 5rem 2rem;
  }
  .abilitySection{
    padding:.5rem;
  }   
  .certifiedDocument:hover .slideY{
    top: calc(50% - 50px);
    margin-top: .3rem;
  }   
  .certifiedDocument:hover .tech{   
    top:1rem;
  }   
  .slideY li{
    font-size: .8rem;
  } 
  .slideY a{ 
  margin-top: .5rem;  
  }   
  .certifiedLogo,.certifiedDocumentContentTop,.certifiedDocumentContentDetails{
    border-radius: 6px;
  }   
  .certifiedDocumentContentTop{
    padding: .3rem;
  }   
  .voltarBtn,.certifiedLogo::before{
    scale: .8;
  }
  .contentBx h2{      
    font-size: 1rem;  
  }    
  .contentBx{
    left: 40%;
  }    
}
@media(max-width:600px){
  .abilityContent_Icons{
    padding: .5rem ;
    gap: 5rem 1rem;
  }
  .abilitySectionBx{
    padding: 2.5rem .8rem;
  }
  .slideY li span::before{
    height: 6px;
    width: 4px;    
  }       
  .certifiedDocument:hover .tech{   
    top: .5rem;
    font-size: 1.3rem;
  }  
  .slideY li {
    font-size: .7rem;
  }  
  .slideY a{
    font-size: 1rem;
  } 
  .horas::before {    
    font-size: .8rem;    
  }
  .horas::after {    
    font-size: .5rem;   
  }
  .horas {    
    font-size: 4rem;    
  }
  .imgbx{
    left: calc(50% - 55px);
  }
  .logos{    
    max-width:80px;
    width: 100%;
  }  
  .abilityContent_Certified{
    gap: .3rem;
    padding: 1rem 
  }  
  .abilityContent_Icons{
   gap: 1rem;
   padding: 0;
   height: 100%;
   align-content: space-around;
  }  
  .certifiedLogo{
    border: #A97E2F solid 2px;
  }
  .voltarBtn{   
    left: -32px;   
  }
  .contentBx h2{      
    font-size: .7rem;
    line-height: 1;  
  }    
  .contentBx{
    margin-left: 20px;
    left:40%; 
   }  
  .certifiedDocumentContentDetails,.certifiedDocumentContentTop,.certifiedLogo{
    border-radius: 4px;
  }
} 
@media(max-width:500px){
  .horas::before {    
    font-size: 1rem;    
  }
  .horas::after {    
    font-size: .6rem;   
  }
  .horas {    
    font-size: 5rem;   
  }  
  .certifiedDocument:hover .slideY{
    top: calc(50% - 50px);
  }
  .slideY li{
    font-size: .9rem;
  }  
  .certifiedDocument:hover .tech{
    font-size:2rem;
  }
  .slideY a{ 
  margin-top: .2rem;  
  font-size: 1rem; 
  }
  .certifiedLogo::before{   
    top:4px;
  }
  .voltarBtn{
    scale: 1;
    top:10px;
    left: -30px;    
  }  
  .abilityContent_Certified{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: start;
    padding: .3rem .7rem; 
    max-width: 100%;   
    width: 100%;
  }
  .abilityContent_Icons{
    grid-template-columns: 1fr 1fr;
    padding:.5rem;
    justify-items: space-between;
  }
  .abilitySectionBx{
    padding: 0;
    margin:  1.5rem 0;
  }
  .abilitySection{
    padding: 1rem ;
  }   
  .contentBx h2{      
    font-size: .6rem;
    line-height: 1;  
  }    
  .contentBx{
    margin-left: 20px;
    left:40%;
  }
  .imgbx{
    left:calc(50% - 50px); 
  }  
  .certifiedDocumentContentTop{
    padding: .2rem;
  }
}
@media(max-width:300px){
  .abilityContent_Icons{
    padding:.5rem .5rem ;
    justify-items: space-between;
  }
  .abilitySectionBx{
    padding: .3rem;
  }
  .slideY li{
    font-size: .8rem;
  }  
  .certifiedDocument:hover .tech{
    font-size:1.3rem;
  }
  .slideY a{ 
  margin-top: .5rem;  
  font-size: .8rem; 
  }
}


