
.projetos>h1 {
  margin-left: 3rem;
}
.projetos {
  position: relative;
  background-color: #544523;
  padding: 4rem 0;
}
.cardContent .btnConteiner{
  margin: 0 auto;
}
.card{
  z-index: 10;
  flex-shrink: 0;
  width: 80vw;
  max-width: 500px;
  max-height:500px;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #1E201D;  
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
  padding-bottom: 1rem;
}
.cardContent>h2{
color:#A97E2F;
}
.cardContent>p{
  margin-bottom: 1rem;
  font-size: .7rem;
}
.cardContent{
  padding: 1rem 2rem; 
   
  color: #fff;  
}
.controlsBx{
  position: relative;
}
@media(max-width:640px){
  .card{    
    max-width: 400px;    
  }
  .cardContent h2{
    font-size: 1rem;
  }
  .cardContent p{
    margin-bottom: .7rem;
  }
  .cardContent{
    padding: .5rem 1rem; 
  }
}
@media(max-width:540px){
  .card{
    max-width: 320px;
  } 
  .cardContent p{
    line-height: 1;
  }
  .cardContent .btnConteiner{    
    grid-template-columns: 110px 110px;    
    width:210px;
    padding: 0;    
    height: 1.7rem;  
  }
  .cardContent  .btnConteiner a{
    font-size: .8rem;
  }
}
@media(max-width:440px){
  .card{
    max-width:250px;
  }
  
  .cardContent{
    padding: .5rem 1rem;  
  } 
  
}
@media(max-width:350px){
  .card{
    max-width:180px;
  }  
  .cardContent h2{
    font-size: .8rem;
    margin-bottom:.2rem ;
  }
  .cardContent p{
    font-size: .5rem;
    margin-bottom: .4rem;
    line-height: .8;
  }
  .cardContent{
    padding: .3rem .8rem; 
  }
  .cardContent .btnConteiner{    
    grid-template-columns: 80px 80px;    
    width:160px;
    height: 1.3rem;
  }
  .cardContent  .btnConteiner a{
    font-size: .75rem;
  }  
}