.sobreMim {
  background-color: var(--preto);
  color: #aba8a2;
  padding: 4rem 2rem;

}

.sobreMimContent {
  padding: 2rem 3rem;
  background-color: var(--background_1);
  border-radius: 15px;
  margin: 2rem 0;
}
@media(max-width:600px){
  .sobreMimContent {
    padding: 2rem ;
  }
  .sobreMim p{
    font-size: .9rem;
    line-height: 1.1;
  }
}
@media(max-width:400px){
  .sobreMimContent {
    padding: 1rem ;
    margin-top: 1rem;
  }
  .sobreMim p{
    font-size: .8rem;
    line-height:1.1 ;
  }
}
@media(max-width:300px){
  .sobreMim p{
    font-size: .7rem;
  }
}

