/* ____________Global________________ */
ul,h1,h2,p,div,span,a {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin-top: 0px;  
}

body {
  background-color: black;
}

:root {
  --principal_1: #a97e2f;
  --principal_2: #544523;
  --background_1: #1e201d;
  --background_2: #f7f7f8;
  --cinza_medio: #aba8a2;
  --preto: #0b0906;
}
img{
  max-width: 100%;
  display: block;
  margin: 0;

}
.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  place-self: center start;
}
.title {
  font-size: 3.3rem;
  color: white;
  line-height: 1;
  display: inline;
  margin-bottom: 0.3rem;
  position: relative;
  z-index: 2;
}
.title::before {
  content: '';
  display: block;
  position: absolute;
  width: 77px;
  height: 67px;
  background: url('../img/coluna1.svg');
  z-index: -1;
  left: -30px;
  top: 30px;
  opacity: 50%;
}

.txt_type2 {
  font-size: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.txt_type1 {
  font-size: 1.2rem;
  color: #aba8a2;
  margin-bottom: 2rem;
}
.section {
  padding: 1rem 3rem;
  justify-content: center;
  max-width: 100%;
  height: auto;
  padding-top: 4rem;
  z-index: -2;
  align-items: center;
  padding-bottom: 5rem;
}
.principal_color_component {
  color: var(--principal_2);
  background-color: var(--principal_1);
}

/* _______________Banner_______________ */
.avatarImg {
  max-width: 300px;
  display: block;
  margin: 0;
}

.banner > .bannerContent {
  display: grid;
  justify-content: start;
}

.bannerContentAvatar {
  display: flex;
  justify-content: center;
}
.banner {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background_1);
  padding: 5rem;
}
/* _______________Header_______________________ */
.header {
  width: 100%;
  position: fixed;
  gap: 2rem;
  background-color: var(--principal_2);
  border-bottom: #a97e2f 2px solid;
  z-index: 3;
  top: 0;
}
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.logo {
  color: white;
  font-size: 2rem;
  font-family: arial;
}

.navMenu ul {
  display: flex;
  gap: 0.5rem;
}





/* ------------Section--sobre mim-------------- */
.sobreMim {
  background-color: var(--preto);
  color: #fff;
}

.sobreMimContent {
  padding: 2rem 3rem;
  background-color: var(--background_1);
  border-radius: 15px;
  margin: 2rem 1rem;
}


/* Section Habilidades */

.habilitySection > .title::before {
  opacity: 80%;
}

.habilitySection > h1 {
  color: #424541;
}

.habilitySection {
  display: grid; 
  background-color: #f7f7f8;    
}
.habilityContent_Icons {  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 4rem;
  padding: 0 6rem;
  margin-top: 2rem;
  grid-area: 2/1;
}
.habilidade_img {
  display: block;
  width: 100px;
  height: auto;
  justify-self: center;
  align-self: center; 
}
.habilityContent_Certified{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 2/1;
  gap: 2rem;
  padding-top: 2rem;   
}
/* ------------------------------------------------------ */
.certifiedDocument{
  display: grid;
  grid-template-rows:auto 1fr ;
  gap: 1rem;
  align-content: center;
  position: relative;
  overflow: hidden;
}
.certifiedDocumentContentTop div:last-child {
  align-self: center;
  justify-self: center;
}
.certifiedDocumentContentTop h2:last-child {
  color: #424541;  
}
.certifiedDocumentContentTop .imgbx{
  transition: .4s;
  position: relative;
  left: 30%;
}
.certifiedDocumentContentTop .contentBx{
  position: relative;
  transition: .4s;
  left: 80px;
  opacity: 0;
  visibility: hidden;
  
}
.certifiedDocument:hover .certifiedDocumentContentTop .imgbx{ 
  left: 0;
}
.certifiedDocument:hover .certifiedDocumentContentTop .contentBx{  
  left: 0;
  opacity: 1;
  visibility: visible;
}
.certifiedDocumentContentTop{
  position: relative;
  transition: .4s;
  border-radius: 8px ;
  padding: 1rem;
  display: flex;  
  gap: 1rem;
  background-color: var(--principal_1);
  height: 200px;
  color: #fff;
  justify-content: center;
}
.certifiedDocumentContentDetails li span{
  color: #a97e2f;
}
.certifiedDocumentContentDetails li{
  font-size:1.2rem ;
  line-height: 1.2;
  margin-bottom: .5rem;
  position: relative;
  padding-left: 8px;
  border-left: 10px solid #544523;
}
.certifiedDocumentContentDetails a{
  padding: .3rem 1rem ;
  border: 2px solid #A97E2F;
  width: 160px;
  border-radius: 25px 25px;
  grid-column:1/3 ;
  text-align: center;
  color: #a97e2f;
}
.certifiedDocument .tech{
  transition: .4s;
  position: relative;
  top: 30%;
  grid-column:1/3 ;
  font-size: 3rem;
  line-height: .825;
  color: #A97E2F;
  margin-bottom: 1rem;
  
}
.certifiedDocument:hover .slideY {
  top: 0px;
  transition: .4s;
  opacity: 1;
  visibility: visible;
}
.slideY{ 
  overflow: hidden;
  position:relative;
  display: grid;  
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  top:80px;
  transition: .4s ;
  opacity: 0;
  visibility: hidden;
}
.certifiedDocument:hover .tech{
  justify-self: start;
  
  top: 0px;
}
.certifiedDocument:hover .certifiedDocumentContentTop{
  height:130px;
}
.certifiedDocument:hover .certifiedDocumentContentDetails{
  height:250px;
}
.certifiedDocumentContentDetails{
  position: relative;  
  transition: .4s;
  display: flex;
  flex-direction: column;
  border-radius:8px;
  background-color: var(--background_1);  
  color: #fff;    
  padding: 1rem;
  align-items: center;  
  height:180px;
}
.horas::before {
  content: 'horas:';
  color:var(--principal_1);
  position: absolute;
  display: inline-block;
  font-size: 1.3rem;
  bottom:-11px;
  right:0;
}    
.horas::after {
  content: 'carga horária:';
  color: #aba8a2;
  position: absolute;
  display: inline-block;
  font-size: .8rem;
  top: -14px;
  text-align: right;
}    
.horas {    
  display: flex;
  flex-direction: column;
  position: relative;
  font-size:6rem;
  color: #fff; 
  line-height: .826;     
}
/* ___________________________________________________________________ */
.certifiedLogoImg{
  max-width:200px;
  object-fit: fill;
}
.certifiedLogo{
  display: grid;
  grid-template-rows: auto 1fr; 
  justify-items: center;
  gap: 1rem;
}

.certifiedLogo.active,
.certifiedDocument.active{
  transform: initial;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;

}
.certifiedDocument,
.certifiedLogo{
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  }  
.certifiedDocument{
  transform: translateX(100px); 
}
.certifiedLogo{  
  transform: translateX(-100px);
  
}
.voltarBtn{
  cursor: pointer;
  border: none;  
  color: white;
  width:40px;
  height: 40px;
  background:  url("../img/slide/arrow.svg") center  center no-repeat;  
  animation: moveArrow .6s ease-in-out infinite;  
}
@keyframes moveArrow {
  0% { transform: translateX(0); }
  50% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}
@keyframes moveArrowReverse {
  0% { transform: translateX(0); }
  50% { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}
.projetos {
  background-color: #544523;
}



.logos {
  cursor: pointer;
  transform: scale(0.3);
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}


.logos.active {  
  transform: scale(1);
  transition: 0.4s;
  opacity: 1;
  visibility: visible;
}
